---
import { isExternal } from "../../consts";
import type { LinkItemInterface } from "../../interfaces/LinkItemInterface"

const { label = "Home", path = "/" } = Astro.props as LinkItemInterface

const { pathname } = Astro.url;
const isActive = path === pathname || path + '/' === pathname;
---

<li class="px-4">
  <a
    href={path}
    class:list={[{ active: isActive }]}
    target={isExternal(path) ? "_blank" : "_self"}
    class="prose-base"
  >
    {label}
  </a>
</li>
